.welcome {
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .welcome .overlap-wrapper {
    height: 480px;
    width: 800px;
  }
  
  .welcome .overlap {
    border-radius: 25px;
    height: 480px;
    position: relative;
  }
  
  .welcome .background-logo {
    -webkit-backdrop-filter: blur(4px) brightness(100%);
    backdrop-filter: blur(4px) brightness(100%);
    background-color: #333131;
    border-radius: 25px;
    height: 480px;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 800px;
  }
  
  .welcome .overlap-group {
    height: 311px;
    position: relative;
    top: 24px;
  }
  
  .welcome .HAL-text {
    color: #f7c29c63;
    filter: blur(7.5px);
    font-family: "JetBrains Mono-ExtraBold", Helvetica;
    font-size: 128px;
    font-weight: 800;
    left: 0;
    letter-spacing: 21.76px;
    line-height: 120px;
    position: absolute;
    text-align: center;
    text-shadow: 0px 0px 51.77px #f7c29c63;
    top: 154px;
    white-space: nowrap;
    width: 800px;
  }
  
  .welcome .HAL-logo {
    height: 311px;
    left: 245px;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 311px;
  }
  
  .welcome .start-button {
    background-color: #013143;
    border: 1px solid;
    border-color: #ffffff1a;
    border-radius: 25px;
    height: 76px;
    left: 278px;
    overflow: hidden;
    position: absolute;
    top: 367px;
    width: 244px;
  }
  
  .welcome .text-wrapper {
    color: #a49b95;
    font-family: "JetBrains Mono-ExtraBold", Helvetica;
    font-size: 32px;
    font-weight: 800;
    left: -37px;
    letter-spacing: 0;
    line-height: 100px;
    position: absolute;
    text-align: center;
    top: -16px;
    white-space: nowrap;
    width: 318px;
  }
  