.hal-9001-logo-icon9 {
  position: absolute;
  top: 0;
  left: 111px;
  width: 577px;
  height: 527px;
  object-fit: cover;
}
.background-logo4 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-6xl);
  background-color: var(--color-darkslategray-100);
  backdrop-filter: blur(4px);
  width: 800px;
  height: 480px;
  overflow: hidden;
}
.hal-9001-logo-icon10 {
  position: absolute;
  top: 386px;
  left: 706px;
  width: 94px;
  height: 94px;
  object-fit: cover;
  cursor: pointer;
}
.spotify-menu {
  position: relative;
  border-radius: var(--br-6xl);
  background-color: var(--color-white);
  width: 100%;
  height: 480px;
  overflow: hidden;
}
