.hal-9001-logo-icon4 {
  position: absolute;
  top: 0;
  left: 111px;
  width: 577px;
  height: 527px;
  object-fit: cover;
}
.check-out-finished {
  position: absolute;
  top: -17px;
  left: 8px;
  line-height: 114px;
  font-weight: 800;
  display: inline-block;
  width: 382px;
  height: 114px;
}
.background-logo2,
.button {
  position: absolute;
  border-radius: var(--br-6xl);
  overflow: hidden;
}
.button {
  top: 260px;
  left: 201px;
  background-color: var(--color-darkslategray-200);
  border: 1px solid var(--color-gray);
  box-sizing: border-box;
  width: 397px;
  height: 80px;
  cursor: pointer;
}
.background-logo2 {
  top: 0;
  left: 0;
  background-color: var(--color-darkslategray-100);
  backdrop-filter: blur(4px);
  width: 800px;
  height: 480px;
}
.check-in-new {
  position: absolute;
  top: -17px;
  left: 40px;
  line-height: 114px;
  font-weight: 800;
  display: inline-block;
  width: 318px;
  height: 114px;
}
.button1,
.hal-9001-logo-icon5 {
  position: absolute;
  cursor: pointer;
}
.button1 {
  top: 141px;
  left: 201px;
  border-radius: var(--br-6xl);
  background-color: var(--color-darkslategray-200);
  border: 1px solid var(--color-gray);
  box-sizing: border-box;
  width: 397px;
  height: 80px;
  overflow: hidden;
}
.hal-9001-logo-icon5 {
  top: 386px;
  left: 706px;
  width: 94px;
  height: 94px;
  object-fit: cover;
}
.update-database {
  position: relative;
  border-radius: var(--br-6xl);
  background-color: var(--color-white);
  width: 100%;
  height: 480px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-5xl);
  color: var(--color-darkgray);
  font-family: var(--font-jetbrains-mono);
}
