version: '3.8'

services:
  frontend:
    build:
      context: ..
      dockerfile: ./docker/Dockerfile.frontend
    ports:
      - "80:80"
    networks:
      - hal-9001-network
    depends_on:
      backend:
        condition: service_healthy

  backend:
    build:
      context: ..
      dockerfile: ./docker/Dockerfile.backend
    ports:
      - "3001:3001"
    networks:
      - hal-9001-network
    healthcheck:
      test: ["CMD", "wget", "-qO-", "http://localhost:3001/health"]
      interval: 5s
      timeout: 3s
      retries: 10

networks:
  hal-9001-network:
    driver: bridge
